.style {
    background: blanchedalmond;
}
.img-medium {
    height: 150px;
}
.center {
    text-align: center;
}
body {
    font-family: cursive;
    background-color: darkkhaki;
    margin-top: 75px;
}

